.grid {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 3rem;
  align-items: start;
}

.infoCol {
  order: 1;
}

.formCol {
  order: 2;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .formCol {
    order: 1;
  }

  .infoCol {
    order: 2;
  }
}
